<!DOCTYPE html>
<!-- NordEx - Premium App Landing Pages Pack Template design by DSAThemes (http://www.dsathemes.com) -->
<!--[if lt IE 7]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="DSAThemes" />
	<meta name="description" content="NordEx - Premium App Landing Pages Pack" />
	<meta name="keywords"
		content="Responsive, HTML5 template, DSAThemes, Mobile, Application, One Page, Landing, Product, Mobile App" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- SITE TITLE -->
	<title>İletişim</title>

	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="icon" href="images/apple-touch-icon.png" type="image/x-icon" />

	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Google+Sans:wght@300;400;500;700;900&display=swap"
		rel="stylesheet" />

	<!-- BOOTSTRAP CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />

	<!-- FONT ICONS -->
	<link href="css/flaticon.css" rel="stylesheet" />

	<!-- PLUGINS STYLESHEET -->
	<link href="css/menu.css" rel="stylesheet" />
	<link id="effect" href="css/dropdown-effects/fade-down.css" media="all" rel="stylesheet" />
	<link href="css/magnific-popup.css" rel="stylesheet" />
	<link href="css/owl.carousel.min.css" rel="stylesheet" />
	<link href="css/flexslider.css" rel="stylesheet" />
	<link href="css/owl.theme.default.min.css" rel="stylesheet" />

	<!-- TEMPLATE CSS -->
	<link href="css/style.css" rel="stylesheet" />

	<!-- ON SCROLL ANIMATION -->
	<link href="css/animate.css" rel="stylesheet" />

	<!-- RESPONSIVE CSS -->
	<link href="css/responsive.css" rel="stylesheet" />

	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>

	<div id="loader-wrapper">
		<div id="loading">
			<span class="cssload-loader"><span class="cssload-loader-inner"></span></span>
		</div>
	</div>
	<div id="page" class="page">
		<!-- HEADER
			============================================= -->
		<header id="header" class="header tra-menu navbar-dark">
			<div class="header-wrapper">
				<!-- MOBILE HEADER -->
				<div class="wsmobileheader clearfix">
					<span class="smllogo"><img src="images/logo-01.png" alt="mobile-logo" /></span>
					<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
				</div>

				<!-- NAVIGATION MENU -->
				<div class="wsmainfull menu clearfix">
					<div class="wsmainwp clearfix">
						<!-- HEADER LOGO -->
						<div class="desktoplogo">
							<a href="/" class="logo-black"><img src="images/logo-01.png" alt="header-logo" /></a>
						</div>
						<div class="desktoplogo">
							<a href="/" class="logo-white"><img src="images/logo-white.png" alt="header-logo" /></a>
						</div>

						<!-- MAIN MENU -->
						<nav class="wsmenu clearfix">
							<ul class="wsmenu-list nav-skyblue-hover">
								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true">
									<a href="/kobi/index.html">Kobi</a>
								</li>

								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true">
									<a href="/onmuhasebe/index.html">Ön Muhasebe</a>
								</li>
								<li class="nl-simple" aria-haspopup="true">
									<a href="/muhasebe/index.html">Resmi Muhasebe</a>
								</li>

								<!-- DROPDOWN MENU -->
								<li aria-haspopup="true">
									<a href="#">Diğer <span class="wsarrow"></span></a>
									<div class="wsmegamenu clearfix halfmenu">
										<div class="container-fluid">
											<div class="row">
												<!-- Links -->
												<ul class="col-lg-6 link-list">
													<li><a href="faqs.html">Doküman</a></li>
													<li><a href="blog.html">Blog</a></li>
													<li><a href="sss.html">SSS</a></li>
													<li><a href="hakkimizda.html">Hakkımızda</a></li>
													<li><a href="paketler.html">Paketler</a></li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<!-- END DROPDOWN MENU -->
							</ul>
						</nav>
						<!-- END MAIN MENU -->
					</div>
				</div>
				<!-- END NAVIGATION MENU -->
			</div>
			<!-- End header-wrapper -->
		</header>
		<!-- END HEADER -->

		<!-- CONTACTS-2
			============================================= -->
		<section id="contacts-2" class="bg_whitesmoke hero-offset-nav pb-50 contacts-section division">
			<div class="container">
				<!-- SECTION TITLE -->
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="section-title text-center mb-70">
							<!-- Title -->
							<h2 class="h2-md">Nasıl Yardımcı Olabiliriz?</h2>
						</div>
					</div>
				</div>
				<!-- CONTACT FORM -->
				<div class="row">
					<div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
						<div class="form-holder">
							<form name="contactform" class="row contact-form" @submit="checkForm">




								<!-- Contact Form Input -->
								<div id="input-name" class="col-md-12">
									<p class="p-lg">Adınız*:</p>
									<input type="text" name="name" class="form-control name" placeholder="İsim"
										v-model="name" />
								</div>
								<div id="input-tel" class="col-md-12">
									<p class="p-lg">Telefon*:</p>
									<input type="text" name="phone" class="form-control phone" id="phone"
										v-model="telefon" placeholder="555-555-5555" />
								</div>

								<div id="input-email" class="col-md-12">
									<p class="p-lg">Email Adresiniz*:</p>
									<span>Lütfen e-posta adresinizin doğruluğunu dikkatlice kontrol
										edin</span>
									<input v-model="email" type="text" name="email" class="form-control email"
										placeholder="Email" />
								</div>

								<div id="input-message" class="col-md-12 input-message">
									<p class="p-lg">Sorunuzu ayrıntılı olarak açıklayın*:</p>
									<textarea class="form-control message" name="message" rows="6" v-model="description"
										placeholder="Sorununuzu Detaylı Yazınız"></textarea>
								</div>

								<!-- Contact Form Button -->
								<div class="col-md-12 mt-15 form-btn text-right">
									<button type="button" @click="getData"
										class="btn btn-skyblue tra-skyblue-hover submit">
										Gönder
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- END CONTACT FORM -->

			</div>
			<!-- End container -->

			<!-- GEOMETRIC OVERLAY -->
			<div class="bg_fixed geometric_overlay"></div>
		</section>
		<!-- END CONTACTS-2 -->

		<!-- SECTION DIVIDER
			============================================= -->
		<div class="divider-wrapper text-center bg_whitesmoke">
			<div class="section-divider"></div>
		</div>

		<!-- FOOTER-3
			============================================= -->
		<footer id="footer-3" class="bg_whitesmoke footer division">
			<div class="container">
				<!-- FOOTER CONTENT -->
				<div class="row ">
					<div class="col-lg-10 offset-lg-1">
						<div class="row justify-content-center">
							<!-- FOOTER LINKS -->
							<div class="col-sm-6 col-md-4 col-lg-3">
								<div class="footer-links mb-40">
									<ul class="foo-links clearfix">
										<li>
											<p class="p-md"><a href="#">App Features</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Integrations</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">App Updates</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Help & Support</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Customer Stories</a></p>
										</li>
									</ul>
								</div>
							</div>

							<!-- FOOTER LINKS -->
							<div class="col-sm-6 col-md-4 col-lg-3">
								<div class="footer-links mb-40">
									<ul class="foo-links clearfix">
										<li>
											<p class="p-md"><a href="#">Our Blog</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Customer Stories</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Help & Support</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Life Chatting</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Resources</a></p>
										</li>
									</ul>
								</div>

							</div>

							<!-- FOOTER LINKS -->
							<div class="col-sm-6 col-md-4 col-lg-3">
								<div class="footer-links mb-40">
									<ul class="foo-links clearfix">
										<li>
											<p class="p-md"><a href="#">About Us</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Press & Media</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Advertising</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Privacy Policy</a></p>
										</li>
										<li>
											<p class="p-md"><a href="#">Terms & Privacy</a></p>
										</li>
									</ul>
								</div>
							</div>


						</div>
					</div>
				</div>
				<!-- END FOOTER CONTENT -->

				<!-- BOTTOM FOOTER -->
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<div class="bottom-footer footer-copyright text-center">
							<p>&copy;SiberHesap</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End container -->
		</footer>
		<!-- END FOOTER-3 -->
	</div>
	<!-- END PAGE CONTENT -->



	<script>
		const {
			createApp
		} = Vue;

		createApp({

			data() {
				return {
					data: [],
					name: '',
					toast: false,
					telefon: '',
					email: '',
					description: ''

				}
			},

			methods: {

				getData() {
					if (this.name == '' || this.email == '' || this.description == '') {
						toastr.error('Alanlar Boş Bırakılamaz')

					} else {
						axios.post('https://52.17.28.130/api/v1/public/tables/feedbacks/store', {
							name_surname: this.name,
							phone: this.telefon,
							email_basic: this.email,
							description: this.description,
							state: 1,
							column_set_id: 0,
							id: 0
						}).then(res => {
							if (res.data.data.message == "success") {
								console.log('girdi')
								this.name = ''
								this.telefon = ''
								this.email = ''
								this.description = ''
								toastr.success('Mailiniz Gönderildi')
							}
							console.log(res.data.data)
						})

					}

				},

			},

		}).mount('#page')
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

	<script>
		document.getElementById('phone').addEventListener('input', function (e) {
			var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
			e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
		});
	</script>




	<!-- EXTERNAL SCRIPTS
		============================================= -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
	<script src="js/jquery.easing.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/jquery.scrollto.js"></script>
	<script src="js/menu.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/contact-form.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/wow.js"></script>

	<!-- Custom Script -->
	<script src="js/custom.js"></script>

	<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
	<!--
		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		-->
</body>

</html>